* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.woff binary
*.woff2 binary

pnpm-lock.yaml linguist-generated=true
**/database.types.ts linguist-generated=true
**/*.generated.ts linguist-generated=true
apps/examples/**/lib/supabase/generated.ts linguist-generated=true
tests/validation-*/src/generated.ts linguist-generated=true
packages/better-supabase/api/** linguist-generated=true
packages/cli/api/** linguist-generated=true
